{
    "slack": {
        "url": "slack endpoint",
        "username": "schedulebot",
        "emoji": ":date:",
        "channel": "#channel or @user"
    },

    "garoon": {
        "url": "garoon endpoint",
        "user": "username",
        "password": "password"
    }
}
